#pagination-options-menu-bottom-bottom-toggle {
  // Not sure why but otherwise the bottom pagination count is displayed in block
  display: flex;
}

.drf-upcoming__filter-formgroup {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;

  label {
    color: var(--pf-t--global--text--color--regular);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

/* Fix border-radius when ToggleGroupItems are wrapped in Tooltip */
.pf-v6-c-toggle-group > * .pf-v6-c-toggle-group__button {
  border-radius: 0;
}

.pf-v6-c-toggle-group > *:first-child .pf-v6-c-toggle-group__button {
  border-start-start-radius: var(--pf-v6-c-toggle-group__item--first-child__button--BorderStartStartRadius);
  border-end-start-radius: var(--pf-v6-c-toggle-group__item--first-child__button--BorderEndStartRadius);
}

.pf-v6-c-toggle-group > *:last-child .pf-v6-c-toggle-group__button {
  border-start-end-radius: var(--pf-v6-c-toggle-group__item--last-child__button--BorderStartEndRadius);
  border-end-end-radius: var(--pf-v6-c-toggle-group__item--last-child__button--BorderEndEndRadius);
}

.drf-upcoming__filter-download {
  padding-left: 8px;
  padding-right: 8px;
}

.pf-v6-c-table thead .pf-v6-c-table__toggle {
  .pf-v6-c-button {
    margin-left: -4px;
  }
}
