@import '~@redhat-cloud-services/frontend-components-utilities/styles/variables';

.lifecycle-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.lifecycle-loading-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
}

// .sample-component {
//   font-size: $ins-fontSize;
//   margin: $ins-margin;
//   display: block;
// }

#changes-warning {
  border: none;
}

.drf-lifecycle__upcoming-count {
  font-weight: bold;
}

.drf-lifecycle__upcoming-card {
  display: flex;
  align-items: center;
  gap: 8px;
}
