// js generates class '.page__{rootClass}' that wraps the content in your page added to the root tag
// Found in Routes.js as the rootClass

.pf-c-tabs {
    margin-left: 1em;
    margin-bottom: 1em;
}

.pf-c-page__main-section {
    margin-left: 1em;
}