@import "~@redhat-cloud-services/frontend-components-utilities/styles/variables";

.pf-c-tabs {
    margin: $ins-margin;
    margin-bottom: 0;
}

.pf-c-page__main-section {
    margin: $ins-margin;
    margin-top: 0;
}