# yaml-language-server: $schema=https://raw.githubusercontent.com/RedHatInsights/frontend-components/refs/heads/master/packages/config-utils/src/feo/spec/frontend-crd.schema.json
---
apiVersion: v1
kind: Template
metadata:
  name: roadmap-frontend
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: Frontend
    metadata:
      name: roadmap

    spec:
      envName: ${ENV_NAME}
      feoConfigEnabled: true # flags a frontend to be ready for FEO feature
      title: Roadmap
      deploymentRepo: https://github.com/RedHatInsights/digital-roadmap
      image: ${IMAGE}:${IMAGE_TAG}
      API:
        versions:
          - v1
      serviceTiles:
        - section: observe
          group: rhel
          id: observe.lifecycle
          href: /insights/planning/lifecycle
          title: Life Cycle
          description: View tailored life cycle data for Red Hat Enterprise Linux and RHEL application streams.
          icon: InsightsIcon
        - section: observe
          group: roadmap
          id: observe.roadmap
          href: /insights/planning/roadmap
          title: Roadmap
          description: View the latest updates on upcoming Red Hat Enterprise Linux features, tailored to your systems.
          icon: InsightsIcon
        - section: security 
          group: rhel
          id: security-roadmap
          href: /insights/planning/roadmap
          title: Roadmap
          description: View the latest updates on upcoming Red Hat Enterprise Linux features, tailored to your systems.
          icon: InsightsIcon

      searchEntries:
        - id: roadmap.lifecycle
          title: Life Cycle
          href: /insights/planning/lifecycle
          description: View tailored life cycle data for Red Hat Enterprise Linux and RHEL application streams.
          alt_title:
            - planning
            - RHEL versions
            - rhel versions
            - Life cycle
            - life cycle
            - app stream
            - app streams
            - application stream
            - application streams
            - application streams
             - application streams
             - lifecycle
             - Lifecycle
             - appstream
             - appstreams
        - id: roadmap.roadmap
          title: Roadmap
          href: /insights/planning/roadmap
          description: View the latest updates on upcoming Red Hat Enterprise Linux features, tailored to your systems.
          alt_title:
            - planning
            - RHEL versions
            - rhel versions
            - Roadmap
            - roadmap
             
      frontend:
        paths:
          - /apps/roadmap

      bundleSegments:
        - segmentId: roadmap-planning
          bundleId: insights
          position: 2000
          navItems:
            - id: planning
              title: Planning
              expandable: true
              routes:
                - id: lifecycle
                  title: Life Cycle
                  href: /insights/planning
                - id: roadmap
                  title: Roadmap
                  href: /insights/planning/roadmap

      module:
        manifestLocation: "/apps/roadmap/fed-mods.json"
        modules:
          - id: "roadmap"
            module: "./RootApp"
            routes:
              - pathname: /insights/planning

parameters:
  - name: ENV_NAME
    required: true

  - name: IMAGE
    value: quay.io/redhat-services-prod/rhel-lightspeed-tenant/roadmap-frontend

  - name: IMAGE_TAG
    required: true
