# yaml-language-server: $schema=https://raw.githubusercontent.com/RedHatInsights/frontend-components/refs/heads/master/packages/config-utils/src/feo/spec/frontend-crd.schema.json
---
apiVersion: v1
kind: Template
metadata:
  name: roadmap-frontend
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: Frontend
    metadata:
      name: roadmap

    spec:
      envName: ${ENV_NAME}
      feoConfigEnabled: true # flags a frontend to be ready for FEO feature
      title: Roadmap
      deploymentRepo: https://github.com/RedHatInsights/digital-roadmap
      image: ${IMAGE}:${IMAGE_TAG}
      API:
        versions:
          - v1

      frontend:
        paths:
          - /apps/roadmap

      bundleSegments:
        - segmentId: roadmap-planning
          bundleId: insights
          position: 2000
          navItems:
            - id: planning
              title: Planning
              href: /insights/planning
              expandable: true
              routes:
                - id: lifecycle
                  title: Life Cycle
                  href: /insights/planning/lifecycle
                - id: roadmap
                  title: Roadmap
                  href: /insights/planning/roadmap

      module:
        manifestLocation: "/apps/roadmap/fed-mods.json"
        modules:
          - id: "roadmap"
            module: "./RootApp"
            routes:
              - pathname: /insights/planning

parameters:
  - name: ENV_NAME
    required: true

  - name: IMAGE
    value: quay.io/redhat-services-prod/rhel-lightspeed-tenant/digital-roadmap-frontend

  - name: IMAGE_TAG
    required: true
