.drf-lifecycle__filters {
  display: flex;
  padding: var(----pf-v5-global--spacer--md, 16px) var(----pf-v5-global--spacer--lg, 24px);
  flex-direction: column;
  gap: 24px;
}

.drf-lifecycle__filters-toolbar {
  display: flex;
  flex-direction: column;
}

.drf-lifecycle__filters-toolbar-group {
  display: flex;
  justify-content: space-between;
}

.drf-lifecycle__filter-formgroup {
  display: flex;
  gap: 16px;
  align-items: baseline;

  label {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}
