.drf-lifecycle__upcoming-row-text {
  --pf-v5-c-content--FontSize: var(--pf-v5-c-table--cell--FontWeight);
}

.drf-lifecycle__upcoming-row {
  padding: 0px 8px 16px 8px;
  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}

.drf-lifecycle__upcoming-row-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
