name: CI
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main
      - pf6-upgrade

jobs:
  sanity:
    name: Sanity
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5.0.0

    - name: Install Node.js
      uses: actions/setup-node@v4.4.0
      with:
        node-version: "20"
        cache: "npm"

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run build

    - name: Lint
      run: npm run lint

  units:
    name: Units
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Units
        run:
          npm run test

      - name: Upload coverage report
        uses: codecov/codecov-action@v5.5.0
        with:
          directory: coverage
          fail_ci_if_error: true
